[submodule "src/common/ts/ore-three-ts"]
	path = src/common/ts/ore-three-ts
	url = git@github.com:ukonpower/ore-three-ts.git
[submodule "src/common/ts/glpower"]
	path = src/common/ts/glpower
	url = git@github.com:ukonpower/glpower.git
