script(async src="https://www.googletagmanager.com/gtag/js?id=UA-112004110-3")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-112004110-3');

script.
    (function (d) {
        var config = {
                kitId: 'xcw8thg',
                scriptTimeout: 3000,
                async: true
            },
            h = d.documentElement,
            t = setTimeout(function () {
                h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
            }, config.scriptTimeout),
            tk = d.createElement("script"),
            f = false,
            s = d.getElementsByTagName("script")[0],
            a;
        h.className += " wf-loading";
        tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
            a = this.readyState;
            if (f || a && a != "complete" && a != "loaded") return;
            f = true;
            clearTimeout(t);
            try {
                Typekit.load(config)
            } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s)
    })(document);
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="ORE NO WEBGL")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(property="og:url", content="https://oregl.u-kon.dev")
meta(property="og:title", content="Ore-GL")
meta(property="og:description", content="ORE NO WEBGL. This is ukonpower's WebGL experiments with three.js. I love three.js very very very mutch. I'll create exciting world in your browser.")
meta(property="og:image", content="https://oregl.u-kon.pw/oregl-og-image.png?20190407")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@Uksksan")
meta(property="og:site_name", content="Ore-GL")
meta(property="og:locale", content="ja_JP")