@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

.back{
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    left: 5%;
    top: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

canvas {
    margin: 0px auto;
    width: 100%;
}
