@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

html, body {
}

.back{
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    left: 5%;
    top: 30px;
    text-decoration: none;
    color: white;
}

canvas {
    margin: 0px auto;
    width: 100%;
    height: 100%;
}
