.caution{
	position: absolute;
	left: 5%; bottom: 20px;
	margin: 10px;
	padding: 10px 20px;
	background-color: rgba($color: #FFFFFF, $alpha: 0.1);
	border-radius: 5px;
	color: white;
	font-family: Comfortaa, 'M PLUS Rounded 1c';
}