include ../../common/pug/analytics.pug
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="description" content="ORE NO WEBGL. ukonpower's WebGL experiments with three.js. I love three.js very very very mutch. I'll create exciting world in your browser.")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(property="og:url", content="https://oregl.ukon.dev")
meta(property="og:title", content="Ore-GL")
meta(property="og:description", content="ORE NO WEBGL. ukonpower's WebGL experiments with three.js. I love three.js very very very mutch. I'll create exciting world in your browser.")
meta(property="og:image", content="https://oregl.ukon.dev/oregl-og-image.png")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@Uksksan")
meta(property="og:site_name", content="Ore-GL")
meta(property="og:locale", content="ja_JP")