@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.back{
    overflow: hidden;
    font-family: 'Comfortaa', sans-serif;
    position: absolute;
    left: 5%;
    top: 30px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
}

canvas {
    position: absolute;
    margin: 0px auto;
    width: 100%;
    height: 100%;
}
