RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule gl/1/(.*) /gl/TriangleDrawing/$1 [R=301,L]
RewriteRule gl/2/(.*) /gl/LifeGame/$1 [R=301,L]
RewriteRule gl/3/(.*) /gl/CurlNoise/$1 [R=301,L]
RewriteRule gl/4/(.*) /gl/CurlNoise2/$1 [R=301,L]
RewriteRule gl/5/(.*) /gl/CurlNoise3/$1 [R=301,L]
RewriteRule gl/6/(.*) /gl/CurlNoiseFrameBuffer/$1 [R=301,L]
RewriteRule gl/7/(.*) /gl/FrameBufferFractal/$1 [R=301,L]
RewriteRule gl/8/(.*) /gl/FoldRaymarching/$1 [R=301,L]
RewriteRule gl/9/(.*) /gl/Raymarching1/$1 [R=301,L]
RewriteRule gl/10/(.*) /gl/Blinn-Phong/$1 [R=301,L]
RewriteRule gl/11/(.*) /gl/Raymarching2/$1 [R=301,L]
RewriteRule gl/12/(.*) /gl/GLSLSchoolWork/$1 [R=301,L]
RewriteRule gl/13/(.*) /gl/Boids/$1 [R=301,L]
RewriteRule gl/14/(.*) /gl/ThreeCurlNoise/$1 [R=301,L]
RewriteRule gl/15/(.*) /gl/DevilSuzanne/$1 [R=301,L]
RewriteRule gl/16/(.*) /gl/GPUTrails/$1 [R=301,L]
RewriteRule gl/17/(.*) /gl/FISH!!/$1 [R=301,L]
RewriteRule gl/18/(.*) /gl/GPURAAMEN/$1 [R=301,L]
RewriteRule gl/19/(.*) /gl/21HappyBirthday/$1 [R=301,L]
RewriteRule gl/20/(.*) /gl/Natto/$1 [R=301,L]
RewriteRule gl/21/(.*) /gl/InstancingBox-Demo-/$1 [R=301,L]
RewriteRule gl/22/(.*) /gl/Cube/$1 [R=301,L]
RewriteRule gl/23/(.*) /gl/ASUMO/$1 [R=301,L]
RewriteRule gl/24/(.*) /gl/Ring/$1 [R=301,L]
RewriteRule gl/25/(.*) /gl/Flower/$1 [R=301,L]
RewriteRule gl/26/(.*) /gl/UNI/$1 [R=301,L]